<div>
  <div>
    <h2>
      Create New Post
    </h2>

    <form>
      <label>
        Title
      </label>
      <input type="text" />
      <label>
        Content
      </label>
      <textarea>

      </textarea>
      <button type="submit">
        Create
      </button>
    </form>
  </div>
</div>

<script src="/js/new.js"></script>
